body {
    background-color: rgb(0, 0, 0);
    color: rgb(205, 221, 25);
    font-family:fantasy;
}

h1 {
    font-family: Impact;
    background-color:goldenrod ;
}

a {
    color: white;

}
.more-info {
    background-color: rgb(59, 220, 18);
}
#home {
    background-color: green;
}

